:root {
  --color-accent: #b1c252;
  --color-accent-dark: #89b55b;
  --color-accent-light: #e9eda5;
  --color-primary: #4b6b35;
  --color-headings: #18200d;
  --color-text: #616161;
  --color-headings: #000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  color: var(--color-text);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-headings);
  line-height: 1.2;
  font-weight: 400;
  max-width: 40rem;
  margin: 1.5em 0 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 1.2rem 0;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 50rem;
}

aside,
footer {
  padding: 0 1rem;
}

picture img {
  width: 100%;
  display: block;
}

svg {
  width: 200px;
}

a {
  text-decoration: none;
}

img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

.button {
  background-color: var(--color-accent-dark);
  color: white;
  border-radius: 6px;
  padding: 0.8rem 1.5rem;
  text-align: center;
  display: inline-block;
  margin: 1rem 0;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-accent);
  transition: background-color 400ms;
}

@media (min-width: 381px) {
  picture img {
    height: 100vh;
    object-fit: cover;
  }
}
